apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
  namespace: {{ .Values.namespace }}
  labels:
    app: mlflow
spec:
  replicas: {{ .Values.replicas.mlflow }}
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
        - name: mlflow
          image: "{{ .Values.image.mlflow.repository }}:{{ .Values.image.mlflow.tag }}"
          ports:
            - containerPort: 5000
          env:
            - name: MLFLOW_S3_ENDPOINT_URL
              value: "{{ .Values.mlflow.s3Endpoint }}"
            - name: AWS_ACCESS_KEY_ID
              value: "{{ .Values.minio.rootUser }}"
            - name: AWS_SECRET_ACCESS_KEY
              value: "{{ .Values.minio.rootPassword }}"
          args:
            - "mlflow"
            - "server"
            - "--backend-store-uri"
            - "{{ .Values.mlflow.backendDb }}"
            - "--default-artifact-root"
            - "{{ .Values.mlflow.defaultArtifactRoot }}"
            - "--host"
            - "0.0.0.0"
            - "--port"
            - "5000"
---
apiVersion: v1
kind: Service
metadata:
  name: mlflow
  namespace: {{ .Values.namespace }}
  labels:
    app: mlflow
spec:
  selector:
    app: mlflow
  ports:
    - port: 5000
      targetPort: 5000
      protocol: TCP
