apiVersion: v1
kind: ConfigMap
metadata:
  name: inference-config
  namespace: mlops
data:
  MLFLOW_TRACKING_URI: http://host.docker.internal:5000
  MODEL_NAME: diabetes_readmit_logreg
  MODEL_STAGE: Production
 
  # en caso que API pida datos:
  MLFLOW_S3_ENDPOINT_URL: http://host.docker.internal:9000
  AWS_ACCESS_KEY_ID: admin         
  AWS_SECRET_ACCESS_KEY: supersecret 