apiVersion: apps/v1
kind: Deployment
metadata:
  name: inference-api
  namespace: mlops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inference-api
  template:
    metadata:
      labels:
        app: inference-api
    spec:
      containers:
        - name: inference-api
          image: inference-api:local         
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8989
          envFrom:
            - configMapRef:
                name: inference-config
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
 