apiVersion: v1
kind: ConfigMap
metadata:
  name: inference-config
  namespace: mlops
data:
  MLFLOW_TRACKING_URI: "http://host.docker.internal:5000"
  MLFLOW_S3_ENDPOINT_URL: "http://host.docker.internal:9000"
  MODEL_NAME: "diabetes_readmit_rf"
  MODEL_STAGE: "Production"
 